MonsterWeb/MonsterWeb.Logic/Service References/MonsterServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MonsterApp.DataClient.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MonsterApp.DataClient.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGenderDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GenderDAO" nillable="true" type="tns:GenderDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGenderDAO" nillable="true" type="tns:ArrayOfGenderDAO" />
  <xs:complexType name="GenderDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenderDAO" nillable="true" type="tns:GenderDAO" />
  <xs:complexType name="ArrayOfMonsterTypeDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MonsterTypeDAO" nillable="true" type="tns:MonsterTypeDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMonsterTypeDAO" nillable="true" type="tns:ArrayOfMonsterTypeDAO" />
  <xs:complexType name="MonsterTypeDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MonsterTypeDAO" nillable="true" type="tns:MonsterTypeDAO" />
  <xs:complexType name="ArrayOfTitleDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TitleDAO" nillable="true" type="tns:TitleDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTitleDAO" nillable="true" type="tns:ArrayOfTitleDAO" />
  <xs:complexType name="TitleDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TitleDAO" nillable="true" type="tns:TitleDAO" />
</xs:schema>